<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Service Schedular</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="/static/img/plumber.png" alt="" width="35" height="35"
                                              class="d-inline-block align-text-top">Home Service Schedular</a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="d-flex" role="search">

        <a href="/">
        <button class="btn btn-info" type="submit">Logout</button>
        </a>
    </div>

</nav>
<div class="container" style="padding-top:10px;">
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6">
            <div class="d-grid gap-2">
                {% for request in request_data %}
                <div class="card text-bg-info mb-3" style="width:100%;">
                    <div class="card-header">Request ID:{{request.REQUEST_ID}}</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6"><strong>Service</strong> : {{request.SERVICE_TYPE}}</strong></div>
                            <div class="col-6"><strong>Date</strong> : {{request.CREATED_DATE}}</div>
                        </div>
                        <div class="row">
                            <div class="col-6"><strong>Service Location</strong> :  {{request.ADDRESS}}</strong></div>
                            <div class="col-6"><strong>Payment</strong> : Cash</div>
                        </div>
                        <div class="row">
                            <div class="col-6"><strong>Service Time</strong> :  {{request.REQUEST_TIME}}</strong></div>
                            <div class="col-6"><a href="#" class="btn btn-primary btn-sm" style=btn;">Mark as
                                completed</a></div>
                        </div>

                    </div>

                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>
</body>
</html>