<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Service Scheduler</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"> <img src="/static/img/plumber.png" alt="" width="35" height="35"
                                               class="d-inline-block align-text-top">Home Service Scheduler</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-flex" role="search">
            <a href="/login">
                <button class="btn btn-info" type="submit" style="margin-right:10px">Login</button>
            </a>
            <a href="/register">
                <button class="btn btn-info" type="submit" style="margin-right:10px">Register</button>
            </a>
        </div>


    </div>

</nav>
<div class="row">
    <div class="col-sm-3">
        <div class="card">
            <div class="d-flex justify-content-center">
                <img src="/static/img/pipe.png" class="card-img-top" alt="" style="width:60%" height="200">
            </div>
            <div class="card-body">
                <h5 class="card-title">Plumbing</h5>
                <p class="card-text">Plumbing is any system that conveys fluids for a wide range of applications.
                    Plumbing uses pipes, valves, plumbing fixtures, tanks, and other apparatuses to convey fluids.
                    Heating and cooling (HVAC), waste removal, and potable water delivery are among the most common uses
                    for plumbing, but it is not limited to these applications</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="d-flex justify-content-center">
                <img src="/static/img/welding.png" class="card-img-top" alt="" style="width:60%" height="200">
            </div>
            <div class="card-body">
                <h5 class="card-title">Welding</h5>
                <p class="card-text">Welding is a fabrication process that joins materials, usually metals or
                    thermoplastics, by using high heat to melt the parts together and allowing them to cool, causing
                    fusion. Welding is distinct from lower temperature techniques such as brazing and soldering, which
                    do not melt the base metal (parent metal).</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="d-flex justify-content-center">
                <img src="/static/img/tile.png" class="card-img-top" alt="" style="width:60%" height="200">
            </div>
            <div class="card-body">
                <h5 class="card-title">Tiles Fitting</h5>
                <p class="card-text">Tiles can be installed as a floor or wall covering nearly anywhere, but they are
                    especially useful in bathrooms and kitchens. Tiled walls can resist moisture and handle scrubbing
                    much more readily than drywall or other materials, and so they are the ideal choice for humid
                    bathrooms and kitchens where they will be exposed to cooking splatters.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="d-flex justify-content-center">
                <img src="/static/img/electrician.png" class="card-img-top" alt="" style="width:60%" height="200">
            </div>
            <div class="card-body">
                <h5 class="card-title">Electrician</h5>
                <p class="card-text">An electrician is a tradesperson specializing in electrical wiring of buildings,
                    transmission lines, stationary machines, and related equipment. Electricians may be employed in the
                    installation of new electrical components or the maintenance and repair of existing electrical
                    infrastructure. Electricians may also specialize in wiring ships, airplanes, and other mobile
                    platforms, as well as data and cable lines.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <div class="card">
            <div class="d-flex justify-content-center">
                <img src="/static/img/mop.png" class="card-img-top" alt="" style="width:60%" height="200">
            </div>
            <div class="card-body">
                <h5 class="card-title">Cleaning</h5>
                <p class="card-text">Cleaning is the process of removing unwanted substances, such as dirt, infectious
                    agents, and other impurities, from an object or environment. Cleaning occurs in many different
                    contexts, and uses many different methods. Several occupations are devoted to cleaning.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="d-flex justify-content-center">
                <img src="/static/img/paint-roller.png" class="card-img-top" alt="" style="width:60%" height="200">
            </div>
            <div class="card-body">
                <h5 class="card-title">Painting</h5>
                <p class="card-text">Painting a room is one of the easiest, and least expensive ways to freshen up or
                    completely change the look of a room. Interior painting can be a simple and cost-effective
                    do-it-yourself project, however proper preparation of your paint surfaces is important. Priming is
                    crucial if you want a professional finish, since painting without priming can lead to an uneven
                    appearance as well as cracking and peeling.[1] When it comes time to paint, following some simple
                    strategies will help to ensure that your wall looks as polished as possible.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="d-flex justify-content-center">
                <img src="/static/img/carpenter.png" class="card-img-top" alt="" style="width:60%" height="200">
            </div>
            <div class="card-body">
                <h5 class="card-title">Car Painting</h5>
                <p class="card-text">Carpentry is a skilled trade and a craft in which the primary work performed is the
                    cutting, shaping and installation of building materials during the construction of buildings, ships,
                    timber bridges, concrete formwork, etc. Carpenters traditionally worked with natural wood and did
                    rougher work such as framing, but today many other materials are also used and sometimes the finer
                    trades of cabinetmaking and furniture building are considered carpentry.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="d-flex justify-content-center">
                <img src="/static/img/staircase.png" class="card-img-top" alt="" style="width:60%" height="200">
            </div>
            <div class="card-body">
                <h5 class="card-title">Interior Design</h5>
                <p class="card-text">Interior design is the art and science of enhancing the interior of a building to
                    achieve a healthier and more aesthetically pleasing environment for the people using the space. An
                    interior designer is someone who plans, researches, coordinates, and manages such enhancement
                    projects. Interior design is a multifaceted profession that includes conceptual development, space
                    planning, site inspections, programming, research, communicating with the stakeholders of a project,
                    construction management, and execution of the design.</p>
            </div>
        </div>
    </div>
</div>

</body>
</html>